.weather{
    place-self: center;
    padding: 40px;
    border-radius: 10px;
    background-image: linear-gradient(45deg, #2f4680, #0ae4a3);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    
    
} 

.search-bar {
    display: flex;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;
    width: 100%;
}
.search-bar input {
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 25px;
    color: #626262;
    background: #ebfffc;
    font-size: 18px;
    width: 100%;
    max-width: 200px;
}
.search-bar img {
    width: 50px;
    padding: 15px;
    border-radius: 50%;
    background: #ebfffc;
    cursor: pointer;
}
.weather-icon {
    width: 150px;
    margin: 0px 0;
}
.temperature {
    color: #fff;
    font-size: 80px;
     line-height: 1; 
}
.location{
    color: #fff;
    font-size: 40px;
}
.weather-data{
    width: 100%;
    margin-top: 15px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between ;
     flex-direction: wrap;  
}
.weather-data .col {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    font-size: 22px;
    width: 100%;
    max-width: 300px;
    margin-bottom: 10px;
}
.weather-data .col span {
    display: block;
    font-size: 16px;
}
.weather-data .col img{
    width: 26px;
    margin-top: 10px;
}


@media (min-width: 768px) {
    .weather {
        max-width: 500px;
        padding: 30px;
    }
    
    .search-bar input {
        max-width: 300px;
    }
    
    .temperature {
        font-size: 60px;
    }
    
    .location {
        font-size: 35px;
    }
    
    .weather-data .col {
        font-size: 20px;
    }
}


@media (min-width: 1024px) {
    .weather {
        max-width: 700px;
        padding: 50px;
    }
    
    .search-bar input {
        max-width: 400px;
    }
    
    .temperature {
        font-size: 100px;
    }
    
    .location {
        font-size: 50px;
    }
    
    .weather-data .col {
        font-size: 24px;
    }
    
    .weather-icon {
        width: 200px;
    }
}